body {
      
    color: #858585;
    background-color: #0abab5;
     /* Background pattern from https://www.transparenttextures.com*/
    background-image: url(../images/diamond-upholstery.png);
    
  }
  